body{
  background: #000;
}
.pokebole{
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
}

.pokebole::before{
  content: "";
  width: 10rem;
  height: 5rem;
  background: #f9004d;
  border-radius: 5rem 5rem 0 0;
  position: absolute;

}

.detail{
  width: 10rem;
  height: .5rem;
  background: #333;
  margin-top: 4.8rem;
  position: absolute;
}

.detail::before{
  content: "";
  width: 3rem;
  height: 3rem;
  background: #333;
  border-radius: 50%;
  position: absolute;
  margin-top: -1.1rem;
  margin-left: 3.5rem;

   
}

.detail::after{
content: "";
width: 1.8rem;
height: 1.8rem;
background: #fff;
border-radius: 50%;
margin-top: -0.5rem;
margin-left: 4.1rem;
position: absolute;
}
.container{
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-direction: column;

}
.container img{
  width: 10%;
 border-radius: 20px;
 margin-top: 15px;
}

.container h2{
  font-family: Arial, Helvetica, sans-serif;
  color:#f9004d;
  margin-top: 15px;
  
}

.container h3{
  font-family: 'Times New Roman', Times, serif;
  color: #f9004d;
}

.container input{
  border: 1px solid#f9004d;
  background: #191919;
}

.form-control{
  border-radius: 3rem;
  text-align: center;
}

.container button{
 color: #191919;
 background-color: #f9004d;
 border-radius: 10px;
 margin-left: 70px;
 padding: 0 10px;

}


.card-title{
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
 text-align: center;
}

.title_pokedex{
  font-family:'Times New Roman', Times, serif ;
  font-size: 45px;
  color: #fff;
  margin: 10px;  
  text-align: center;
}

.form-control{
  margin: 10px;
  height: fit-content;
  width: fit-content;
  align-items: center;
 color: #fff;
 
  
}

.container button{
  border: #FA0000 solid;
  background-color:#333;
  color: #fff;
  border-radius: 25px;
  width: 5rem;
}
.container select{
  border: solid #FA0000;
  border-radius: 3rem;
  padding: 2px;
  background-color: #333;
  color: #fff;
}

.container .nav-bar{
  height: 4rem;
  border: solid #f9004d; 
  background-color: #333
}

.container nav{
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-right: 1.5rem;
  justify-content: center;
  align-items: center;
  
}

.container a{
  color: #fff;
  border-radius: 40%;
  background-image: url('../src/assets/images/banner-bg.png');
}
.card_pokemon{
  margin: 20px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 10px;

}

.sub_card{
background-position: center;
  background-image: url('../src/assets/images/banner-bg.png');
  border: solid #f9004d 3px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
}

.sub_card img{
  width: 50%;
}

.sub_card h1{
  color: #FA0000;
}

.sub_card  h2,h3{
  color: #AFA8BA;
}

.btn {

margin: 10px;
}


.card_info{
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px;
border: #333 solid 2px;
  padding: 10px;
  border-radius: 10px;

}

.card{
  border-radius: 50%;
  background-color: #130013;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233B003B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233412C7'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.card_detail{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:#FBEAFF;
  align-items: center;
  justify-items: center;
  height: 1200px;
  width: 1200px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 30px;
  height: fit-content;
  padding: 20px;

}

.card_text{
  display: flex;
  flex-direction: column;
  background-color: #D5CABD;
  height: 800px;
  width: 800px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;

  
}


.nav-bar{

  display: flex;
  background-color: #C4FCEF;
  margin: 20px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 20px;

}